<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat WebSocket</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script type="text/javascript">
        let stompClient = null;
        const baseAddress = 'http://localhost:8321';

        function setConnected(connected) {
            document.getElementById('connect').disabled = connected;
            document.getElementById('disconnect').disabled = !connected;
            document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
            document.getElementById('response').innerHTML = '';
        }

        function connect() {
            const socket = new SockJS(baseAddress + '/chat');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
                setConnected(true);
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic', function (message) {
                    handleReceivedMessage(JSON.parse(message.body));
                });
            });
        }

        function disconnect() {
            if(stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function sendMessage() {
            const from = document.getElementById('from').value;
            const text = document.getElementById('text').value;
            //var time = document.getElementById('time').value;
            stompClient.send("/chat", {},
                JSON.stringify({'sender':from, 'content':text}));
        }

        function handleReceivedMessage(message) {
            const response = document.getElementById('response');
            const p = document.createElement('p');
            let now = new Date();
            p.style.overflowWrap = 'break-word';
            p.appendChild(document.createTextNode(message.sender + ": " + message.content + ": " + now));
            response.appendChild(p);
        }
    </script>
</head>
<body onload="disconnect()">
<div>
    <div>
        <label for="from">Enter Your Username</label><br>
        <input type="text" id="from" placeholder="Username"/>
    </div>
    <br />
    <div>
        <button id="connect" onclick="connect();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">
            Exit
        </button>
    </div>
    <br />
    <div id="conversationDiv">
        <label for="text">Enter Your Message</label><br>
        <input type="text" id="text" placeholder="Message.."/>
        <button id="sendMessage" onclick="sendMessage();">Send</button>
        <p id="response"></p>
    </div>
</div>

</body>
</html>